@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400&display=swap&subset=korean');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Header */

.showcase {
  color: #fff;
  background: url('/img/background.jpg') no-repeat center center/cover;
  border-bottom: 8px solid #222;
  border-bottom-width: 8px;
  border-bottom-style: solid;
  border-bottom-color: rgb(34, 34, 34);
}

.top {
  height: 8.5rem;
}

.top img {
  width: 167px;
  height: 45px;
  top: 1.75rem;
  left: 3.5em;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.top .btn-login {
  position: relative;
  float: right;
  top: 1.5rem;
  right: 3.5rem;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 5px 20px;
  text-align: center;
  background-color: #e50914;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
}

.showcase .title {
  font-size: 1.75rem;
  text-align: center;
  line-height: 4rem;
}

.greenbar {
  text-align: center;
}

.timeline-label {
  width: 70%;
  height: 20%;
  margin: 2rem auto 1rem;
  position: relative;
  font-size: 1.625rem;
  font-weight: normal;
  text-align: center;
}

.timeline-label .free-trial-text {
  position: absolute;
  width: 38%;
  font-weight: 600;
  text-align: left;
  color: #00d65f;
  left: 10%;
  bottom: 0;
}

.bill-label {
  color: #8c8c8c;
}

.timeline-label .bill-date {
  color: #fff;
  display: block;
  white-space: nowrap;
}

.timeline-label .second-bill-date {
  position: absolute;
  white-space: nowrap;
  left: 75%;
  bottom: 0;
}

.timeline-bar {
  background: linear-gradient(
    to right,
    #00d65f 10%,
    #308234 50%,
    #3f3f3f 50%,
    #3f3f3f 85%,
    rgba(63, 63, 63, 0) 100%
  );
  width: 55%;
  height: 2.5rem;
  margin: auto;
  border-radius: 2rem;
  position: relative;
}

.timeline-bar:before {
  left: 50%;
  content: '';
  width: 2.5em;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  background: white;
  border-radius: 1.5em;
}

.timeline-bar:after {
  left: 87.5%;
  content: '';
  width: 2.5rem;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translateX(-80%);
  background: white;
  border-radius: 1.5em;
}

.letter-icon {
  margin-right: 0.3rem;
}

.reminder-label {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.75rem;
}

.end-message {
  max-width: 750px;
  margin: 3rem auto;
  margin-bottom: 2rem;
  font-size: 1.75rem;
  text-align: center;
  line-height: 2rem;
}

.email-wrapper {
  overflow: hidden;
  margin: 0 auto;
  display: inline;
}

.email-form {
  text-align: center;
  display: flex;
}

.email-form input {
  border: solid 1px #8c8c8c;
  width: 438px;
  height: 71px;
  box-shadow: none;
  font-size: 1rem;
  margin: auto;
  padding: 10px 10px 0;
  -webkit-appearance: none;
  position: relative;
  left: 15%;
}

.email-btn {
  background-color: #e50914;
  border: 1px solid #e50914;
  text-decoration: none;
  outline: none;
  font-size: 30px;
  color: #fff;
  padding: 12px 40px;
  margin: auto;
  position: relative;
  right: 16%;
}

.email-p {
  text-align: center;
  margin: 1rem 0;
}

/* Contents */

.content {
  color: #fff;
  background-color: black;
  border-bottom: 8px solid #222;
  border-bottom-width: 8px;
  border-bottom-style: solid;
  border-bottom-color: rgb(34, 34, 34);
}

.content img {
  max-width: 530px;
  max-height: 397px;
  width: auto;
  height: auto;
  border: 0;
  padding: 0 2rem;
}

.content h1 {
  font-size: 50px;
  line-height: 4rem;
  margin-bottom: 1rem;
}

.content p {
  margin-right: 5rem;
  font-size: 26px;
}

.content-tv {
  border-bottom: 8px solid #222;
  border-bottom-width: 8px;
  border-bottom-style: solid;
  border-bottom-color: rgb(34, 34, 34);
}

.content-tv-card,
.content-pc-card {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 4rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 0;
  text-align: left;
  align-items: center;
}

.content-phone {
  border-bottom: 8px solid #222;
  border-bottom-width: 8px;
  border-bottom-style: solid;
  border-bottom-color: rgb(34, 34, 34);
}

.content-phone-card {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 5rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 0;
  text-align: left;
  align-items: center;
}

/* QnA */

