@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400&display=swap&subset=korean');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.showcase {
  height: 100vh;
  color: #fff;
  background: url('/img/background.jpg') no-repeat center center/cover;
}

.top {
  height: 8.5rem;
}

.top img {
  width: 134px;
  height: 36px;
  top: 1.75rem;
  left: 3.5em;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.top .btn-login {
  position: relative;
  float: right;
  top: 1.5rem;
  right: 3.5rem;
  font-size: 16px;
  font-weight: 400;
  padding: 5px 20px;
  text-align: center;
  background-color: #e50914;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
}

.showcase .title {
  font-size: 1.5rem;
  text-align: center;
}

.greenbar {
  text-align: center;
}

.timeline-label {
  width: 70%;
  height: 20%;
  margin: 2rem auto 1rem;
  position: relative;
  font-size: 1.625rem;
  font-weight: normal;
  text-align: center;
}

.timeline-label .free-trial-text {
  position: absolute;
  width: 38%;
  font-weight: 600;
  text-align: left;
  color: #00d65f;
  left: -13%;
  bottom: 0;
}

.bill-label {
  color: #8c8c8c;
}

.timeline-label .bill-date {
  color: #fff;
  display: block;
  white-space: nowrap;
}

.timeline-label .second-bill-date {
  position: absolute;
  white-space: nowrap;
  left: 85%;
  bottom: 0;
}

.timeline-bar {
  background: linear-gradient(
    to right,
    #00d65f 10%,
    #308234 50%,
    #3f3f3f 50%,
    #3f3f3f 85%,
    rgba(63, 63, 63, 0) 100%
  );
  width: 85%;
  height: 2.5rem;
  margin: auto;
  border-radius: 2rem;
  position: relative;
}

.timeline-bar:before {
  left: 50%;
  content: '';
  width: 2.5em;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  background: white;
  border-radius: 1.5em;
}

.timeline-bar:after {
  left: 85%;
  content: '';
  width: 2.5rem;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translateX(-85%);
  background: white;
  border-radius: 1.5em;
}

.letter-icon {
  margin-right: 0.3rem;
}

.reminder-label {
  margin-top: 2rem;
  font-size: 1.75rem;
}

.end-message {
  font-size: 26px;
  text-align: center;
  margin: 2rem 12rem;
}

.email-form input {
  border: solid 1px #8c8c8c;
  display: block;
  width: 65%;
  height: 4rem;
  font-size: 1rem;
  margin: auto;
  padding: 10px 10px 0;
}

.email-form .input-apply {
  text-align: center;
  background-color: #e50914;
  padding: 5.6px 52px 5.6px 25.8px;
  text-decoration: none;
  color: #fff;
  font-size: 1.625rem;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 1px 0px 0px;
  letter-spacing: 0.1px;
}
